<!-- Content Header (Page header) -->
<div class="content-header" style="font-family: 'Times New Roman'">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Checking</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-rooms"><a href="#">Home</a></li>
          <li class="breadcrumb-rooms active">/ Manage Checking</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content" style="font-family: 'Times New Roman'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Checking Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table>
             <tr>
               <td>
                 <input type="date" class="form-control" placeholder="Select Date">
               </td>
               <td>&nbsp;</td>
               <td>
                 <button type="button" class="btn btn-success">
                   <i class="nav-icon fa fa-search"></i>
                   Check Details</button>
               </td>
             </tr>
            </table><br>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div><!-- /.container-fluid -->
<div class="row">
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="col-md-12">

        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Reserved Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="tblrooms" class="table table-bordered table-hover">
              <thead>
              <tr style="background-color: lightskyblue;color: white">
                <th>Reserve ID</th>
                <th>Room Type</th>
                <th>Room Name</th>
                <th>Customer</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="4">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </td>
              </tr>
              </tfoot>
            </table>
            <br>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="col-md-12">

        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Free Information</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table  class="table table-bordered table-hover">
              <thead>
              <tr style="background-color: lightskyblue;color: white">
                <th>Room ID</th>
                <th>Room Type</th>
                <th>Room Name</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="4">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </td>
              </tr>
              </tfoot>
            </table><br>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
  </section>

