<!--<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"-->
        <!--mdbWavesEffect>Launch Modal</button>-->

<div style="z-index: 55555555555555555511" mdbModal #frame="mdbModal" class="modal fade bottom" id="frameModalTop1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content" style="font-family: 'Times New Roman'">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Reviews List</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <section class="content" style="font-family: 'Times New Roman'">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <div class="card card-primary" *ngFor="let rooms of roomList">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <img style="width: 120%;height: 100%" src="../../assets/pexels-photo-860538.jpeg">
                      </div>
                      <div class="col-md-9" style="font-family: 'Times New Roman'">
                        <table>
                            <tr><td>Room Name</td>  <td>:&nbsp;&nbsp;</td> <td>{{rooms.name}}</td></tr>
                            <tr><td>Room Type</td> <td>:&nbsp;&nbsp;</td>  <td>{{rooms.type}}</td></tr>
                            <tr><td>Ratings</td>  <td>:&nbsp;&nbsp;</td> <td>***</td></tr>
                            <tr><td>Room Price</td> <td>:&nbsp;&nbsp;</td>  <td>{{rooms.price}}</td></tr>
                            <tr><td>Reserve Count</td> <td>:&nbsp;&nbsp;</td>   <td>?</td></tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- /.card -->

              </div>
            </div>

          </div><!-- /.container-fluid -->
        </section>
      </div>
      <!--Footer-->

      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
