
<div style="z-index: 55555555555555555511" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-notify modal-danger">

    <!-- Modal content-->
    <div class="modal-content" style="font-family: 'Times New Roman'">
      <div class="modal-header" style="background-color: #007bff">
        <h4 class="modal-title">Create New Facility</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #frmfacility="ngForm" name="frmfacility">
        <table>
          <tr>
            <td>Facility Name :</td>
            <td>&nbsp;</td>
            <td><input type="text" class="form-control" name="name" [(ngModel)]="facility.name" placeholder="Name of facility"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Facility Price :</td>
            <td>&nbsp;</td>
            <td><input type="number" class="form-control" name="price" [(ngModel)]="facility.price" placeholder="Price of facility"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="saveFacility()">Create New One</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
