<!--<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"-->
<!--mdbWavesEffect>Launch Modal</button>-->

<div style="z-index: 55555555555555555511" mdbModal #frame="mdbModal" class="modal fade bottom" id="frameModalTop9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content" style="font-family: 'Times New Roman';height: 17cm;width: 110%">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">View Place</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [routerLink]="['/next',{id:routeID,d1:d1, d2:d2}]" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="container">
          <div class="total-logo">
            <div class="total">
              <span>Total:</span>
              <span class="total-n">{{price}} €</span>
            </div>
            <div class="logo">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/logo-vans.png">
            </div>
          </div>
          <!--End TOTAL-LOGO-->
          <div class="step">
            <div class="retry">Retry</div>
            <div class="line"></div>
            <div class="payment">Payment</div>
          </div>
          <!--End STEP-->
          <div class="cont-forms">
            <form class="form" autocomplete="off" novalidate>
              <fieldset class="card-number">
                <label >Credit card number</label>
                <div class="flex-wrapper">
                  <input class="cc-number" type="num" maxlength="4" />
                  <input class="cc-number" type="num" maxlength="4" />
                  <input class="cc-number" type="num" maxlength="4" />
                  <input class="cc-number" type="num" maxlength="4" />
                </div>
              </fieldset>
              <fieldset class="card-holder">
                <label>Credit card holder</label>
                <input type="text" />
              </fieldset>
              <fieldset class="card-expiration">
                <div class="expiry-ccv">
                  <div class="cont expiration-date">
                    <label>Expiration Date</label>
                    <input type="numb" maxlength="2" />
                    <input class="last" type="num" maxlength="4" />
                  </div>
                  <div class="cont ccv">
                    <label>ccv</label>
                    <input type="num" maxlength="3" />
                  </div>
                </div>
              </fieldset>
              <fieldset class="conf-button">
                <div class="flex-wrapper">
                  <button class="purchase" (click)="makePayment()"> purchase </button>
                  <div class="or-element"><span>- or -</span> </div>
                  <button class="applepay"><span>Apple Pay</span></button>

                </div>
              </fieldset>
            </form>
          </div><!--End CONT-FORMS-->
          <div class="button-cart">
            <img class="icon-cart" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/icona-shop.svg">
            <div class="product-in-cart"><span>3</span></div>
          </div>
        </div><!--End CONTAINER-->
        <div class="cont-product">
          <div class="product first">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/bag-vans.jpg" />
            <div class="cont-options">
              <div class="quantity">
                <button class="plus">+</button>
                <span class="num">1</span>
                <button class="minus">-</button>
              </div>
              <button class="remove">remove</button>
            </div>
          </div>
          <div class="product second">
            < src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/shoes-green.jpg">
            <div class="cont-options">
              <div class="quantity">
                <button class="plus">+</button>
                <span class="num">1</span>
                <button class="minus">-</button>
              </div>
              <button class="remove">remove</button>
            </div>
          </div>
          <div class="product third">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/shoes-pink.jpg">
            <div class="cont-options">
              <div class="quantity">
                <button class="plus">+</button>
                <span class="num">1</span>
                <button class="minus">-</button>
              </div>
              <button class="remove">remove</button>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
